@font-face {
    font-family: 'sora-light';
    src: url('../fonts/sora/Sora-Light.ttf');
}
@font-face {
    font-family: 'sora-regular';
    src: url('../fonts/sora/Sora-Regular.ttf');
}
@font-face {
    font-family: 'sora-bold';
    src: url('../fonts/sora/Sora-Bold.ttf');
}
@font-face {
    font-family: 'sora-semibold';
    src: url('../fonts/sora/Sora-SemiBold.ttf');
}
@font-face {
    font-family: 'sora-extrabold';
    src: url('../fonts/sora/Sora-ExtraBold.ttf');
}
