:root{
    --border: 1px solid red;
    
    --white: white;
    --brand_color: #814cec;
    --brand_color2: #30185e;
    --text_font_size: 16px;
    --section_heading_font_size: 45px;

    --font_sora_light: 'sora-light';
    --font_sora_regular: 'sora-regular';
    --font_sora_bold: 'sora-bold';
    --font_sora_semibold: 'sora-semibold';
    --font_sora_extrabold: 'sora-extrabold';
}